
__pycache__/
.DS_Store
.vscode/
*.pyc
*.json

# Test Files
mac_int-MOUNTEDDEVICES-Output.txt
mac_int-MOUNTEDVOLUMES-Output.txt
mac_int-INSTALLEDAPPS-Output.txt
mac_int-INSTALLEDAPPS-justin.boncaldo-Output.txt
mac_int-INSTALLEDAPPS-ALL-Output.txt
mac_int-SYSTEMINFO-justin.boncaldo-Output.txt
mac_int-USERINFO-justin.boncaldo-Output.txt
mac_int-NETWORKINFO-justin.boncaldo-Output.txt
mac_int-MOUNTEDVOLUMES-justin.boncaldo-Output.txt
mac_int-INTERNETSEARCH-justin.boncaldo-Output.txt
modules/jsontest.py
Output.html
